@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <!--Razor Code to set the title and page heading-->
    ViewData["Title"] = "HomePage -- Mission #3";
    ViewData["Header"] = "Sierra Griffin";
}

<!--Image-->
<img src="img/SierraLovesRamen.jpg" width=300 height=500 />
<p>I love to eat ramen!!</p><br />

<!--Paragraph about what I want to gain form IS413-->
<p>
    I am so excited to be taking IS413 (Enterprise Application Development) this semester!
    I hope to come out of this class a stronger, more confident programmer with a solid understanding
    of client and server side programming. I currently have no experience in creating web apps using the
    .NET MVC Framework, so this class will be a wonderful opportunity to gain that experience! I also hope to
    leave this class (and the whole jr. core) feeling more comfortable working with others in a team setting.
</p><br/>

<!--List of jobs I am interested in-->
<p>Jobs that I am interested in pursuing after I graduate:</p>
<ol>
    <li>Cyber Security Analyst</li>
    <li>UX/UI Developer</li>
    <li>Data Scientist</li>
</ol>
<br/>


